.dashboardLayout {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  background-color: #f9f9f9;
  overflow: hidden; /* Prevent full-page scrollbar */
}

/* Tablet/Mobile */
@media (max-width: 1024px) {
  .dashboardLayout {
    flex-direction: column;
    overflow: auto; /* Allow full-page scrollbar */
    /* Hide scrollbars */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }

  .dashboardLayout::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
}

.mainContent {
  background-color: lightgray;
  display: flex;
  flex: 1;
}