.form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.8rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.inputField[type="text"],
.inputField[type="color"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.buttonField {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}

.buttonField:hover {
  background-color: #006edc;
}

.message {
  font-size: 0.9rem;
  color: green;
}
